* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

.nav {
    vertical-align: middle;
    height: 70px;
    line-height: 18px;
    background-color: purple;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 8px;
}

.nav-brand {
    margin-right: 8px;
    vertical-align: middle;
    width: 55px;
    height: 50px;
}

.nav-sub {
    margin-left: auto;
    font-weight: 300;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    font-family: 'Karla', sans-serif;
}

main {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.form-button {
    font-family: 'Karla', sans-serif;
    grid-column: 1 / -1;
    background-color: purple;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.form-input {
    font-family: 'Karla', sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form-img {
    width: 100%;
}

.form-img-container {
    margin-top: 20px;
    position: relative;
}

.meme-text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}
